.App {
  text-align: center;

}


.App h2{
  font-size: 2rem;
}
.App .form-container{
background-color: snow;
border-radius: 10px;
box-shadow: 2px 1px;
margin-right: 20%;
margin-left: 20%;
}

.App .form-container button{
  font-size: 1rem;
  padding: 1%;
  background-color: powderblue
  
}
.user-container{
background-color: snow;
border-radius: 10px;
box-shadow: 2px 2px;
margin-right: 20%;
margin-left: 20%;
}
.errors {
  color: red;

}
